Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
src/pris0nbarake
obj
src/*.o
src/.deps
ltmain.sh
libtool
/build
*~
*.o
.deps
m4
.DS_Store
untethers/tree
pris0nbarake
